@using Epam.Blog.WebPL.Models;

@{
    Layout = "~/Pages/Layout/_BasicLayout.cshtml";

    if (IsPost)
    {
        var login = Request["login"];
        var pass = Request["pass"];

        if (Auth.CanLogin(login, pass))
        {
            FormsAuthentication.SetAuthCookie(login, createPersistentCookie: true);
            Response.Redirect("/");
        }
    }
}
<h2 align="center"> Авторизуйтесь</h2><br />
<style>
    .center {
        margin: 0 auto;
        margin-top: 15px;
    }
    .form-control{
        width: 300px;
        text-align:center;
    }
</style>

<form method="post">
    <div class="form-group" align="center" >
        <asp:Panel ID="MainPanel" runat="server" Width="440px" CssClass="center">
            <label for="exampleInputEmail1">Login</label>
            <input name="login" type="text" class="form-control" id="login" placeholder="Enter login">
            <small id="emailHelp" class="form-text text-muted">We'll never share your login with anyone else.</small>

            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input name="pass" type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Login</button>
        </asp:Panel>
    </div>
</form>

<script type="text/javascript">
function TestLogin(login){

if(/^[a-zA-Z1-9]+$/.test(login) === false)
	{alert('В логине должны быть только латинские буквы'); return false;}
if(login.length < 4 || login.length > 20)
	{ alert('В логине должен быть от 4 до 20 символов'); return false;}
if(parseInt(login.substr(0, 1)))
	{alert('Логин должен начинаться с буквы'); return false;}

 return true;
    }

    function TestPassword(pass) {
        if (pass.length < 5) {
            alert('В пароле должно быть от 5 символов'); return false;
        }
    }
</script>
